<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3">
  <div class="btn-group w-100" role="group" aria-label="Basic checkbox toggle button group">
    <input type="checkbox" [checked]="selectedItems.includes('pending')" class="btn-check" id="btncheck1"
      (change)="onStatusFilter('pending',$event)" autocomplete="off">
    <label class="btn btn-outline-primary font-sm-1 d-flex align-items-center justify-content-center" for="btncheck1">
      <span class="tick fas fa-check me-1"></span> Pending</label>

    <input type="checkbox" [checked]="selectedItems.includes('on-hold')" class="btn-check"
      (change)="onStatusFilter('on-hold',$event)" id="btncheck2" autocomplete="off">
    <label class="btn btn-outline-primary font-sm-1 d-flex align-items-center justify-content-center" for="btncheck2">
      <span class="tick fas fa-check me-1"></span> On-Hold</label>

    <input type="checkbox" [checked]="selectedItems.includes('approved')" class="btn-check"
      (change)="onStatusFilter('approved',$event)" id="btncheck3" autocomplete="off">
    <label class="btn btn-outline-primary font-sm-1 d-flex align-items-center justify-content-center" for="btncheck3">
      <span class="tick fas fa-check me-1"></span>Approved</label>

    <input type="checkbox" [checked]="selectedItems.includes('rejected')" class="btn-check" id="btncheck4"
      (change)="onStatusFilter('rejected',$event)" autocomplete="off">
    <label class="btn btn-outline-primary font-sm-1 d-flex align-items-center justify-content-center" for="btncheck4">
      <span class="tick fas fa-check me-1"></span> Rejected</label>
  </div>
  <!-- <input type="text" class="search" [(ngModel)]="searchText" placeholder="Search"> -->
</div>

<div class="no-data text-center" *ngIf="!requests?.length">
  <p class="nodata-msg">No requests yet!</p>
</div>

<div class="pricing-header mx-auto">
  <div class=" table-custom">
    <div class="table-row" *ngFor="
            let request of requests
              | requestFilter: selectedItems
              | paginate: { itemsPerPage: 5, currentPage: p };
            let i = index
          ">
      <div class="p-0 position-relative">
        <div class="color-bar" [class]="request.status">
          <span class="color-text font-sm">{{request.status}}</span>
        </div>
        <div class=" p-2 d-flex justify-content-between align-items-center" style="margin-left: 20px;">
          <div class="row align-items-end flex-grow-1">
            <span class="col-md-6 text-break font-sm">
              <strong class="fs-6">{{ request.requesterName }}</strong>({{request.requesterEmail}}) has requested
              contact info of
              <strong class="fs-6">
                {{request.donorName}}</strong> (Dist:{{request.donorDistrict}})
            </span>
            <span class="col-md-6 d-flex justify-content-around align-items-baseline mt-2">
              <span class="btn btn-outline-success btn-sm me-2 mb-md-2">
                <a style="text-decoration: none;" href="tel:{{request.donorMobile}}"><em
                    class="fas fa-phone fa-rotate-90"></em> Donor
                </a>
              </span>
              <span *ngIf="request.requesterMobile" class="btn btn-outline-success btn-sm me-2">
                <a style="text-decoration: none;" href="tel:{{request.requesterMobile}}"><em
                    class="fas fa-phone fa-rotate-90"></em> Requester
                </a>
              </span>
            </span>
          </div>
          <span class="">
            <span class=" me-2 btn btn-outline-primary btn-sm mb-1" (click)="openDialog(request)" title="Action">
              <em class="fas fa-tasks"></em>
            </span>
            <span class=" me-2 btn btn-outline-danger btn-sm" (click)="deleteRequest(request)" title="Delete">
              <em class="fas fa-trash-alt"></em>
            </span>
          </span>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="p = $any($event)"></pagination-controls>

  <dialog #myDialog>
    <form>
      <div class="form-group">
        <label for="name">Status</label>
        <select class="form-control" [(ngModel)]="request.status" [ngModelOptions]="{standalone:true}">
          <option value="approved">Approved</option>
          <option value="rejected">Rejected</option>
          <option value="pending">Pending</option>
          <option value="on-hold">On-Hold</option>
        </select>
      </div>
      <div class="form-group mb-2">
        <label for="email">Remarks</label>
        <textarea class="form-control" [(ngModel)]="request.remarks" [ngModelOptions]="{standalone: true}" id="email"
          placeholder="Remarks/Reason"></textarea>
      </div>
      <div class="mt-3 d-flex justify-content-evenly">
        <button type="submit" class="btn btn-primary me-2" (click)="saveStatus()">Submit</button>
        <button class="btn btn-secondary" (click)="closeDialog()">Close</button>
      </div>
    </form>

  </dialog>
</div>