<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <h1 class="h2">{{this.id ? 'Edit':'Add'}} Donor Details</h1>
  <div class="btn-toolbar mb-2 mb-md-0" *ngIf="this.id">
    <div class="btn-group">
      <button class="btn btn-sm btn-outline-secondary" (click)="goBack()">
        Go Back
      </button>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div class="pricing-header form-block mx-auto">
      <form #editForm="ngForm" (ngSubmit)="updateForm()" novalidate>
        <div class="row">
          <div class="col-lg-5 col-md-12 col-sm-12">
            <div class="row">
              <div class="col-md-12 mb-3">
                <label>Name</label>
                <input type="text" minlength="2" #name="ngModel" [ngModelOptions]="{standalone: true}" [(ngModel)]="donor.name" class="form-control"
                  required />

                <p *ngIf="name?.touched && name?.errors?.['required']" class="error">
                  <sup>*</sup>Please enter name
                </p>
                <p *ngIf="name?.errors?.['minlength']" class="error">
                  <sup>*</sup>Name shouldn't be less than 2 words
                </p>
              </div>
            </div>

            <div class="row">
              <div class="col-md-12 mb-3">
                <label>Blood Group</label>
                <select [ngModelOptions]="{standalone: true}" [(ngModel)]="donor.group" #group="ngModel" class="form-control" required>
                  <option value="A+">A+</option>
                  <option value="A-">A-</option>
                  <option value="B+">B+</option>
                  <option value="B-">B-</option>
                  <option value="AB+">AB+</option>
                  <option value="AB-">AB-</option>
                  <option value="O+">O+</option>
                  <option value="O-">O-</option>
                </select>
                <!-- errors-->
                <p *ngIf="group?.touched && group?.invalid" class="error">
                  <sup>*</sup>Please provide group
                </p>
              </div>

              <div class="col-md-12 mb-3">
                <label>Mobile number</label>
                <input type="tel" [ngModelOptions]="{standalone: true}" [(ngModel)]="donor.mobileNumber" #mobileNumber="ngModel" pattern="[0-9]{10}" class="form-control" required />

                <p *ngIf="mobileNumber?.touched && mobileNumber?.errors?.['required']" class="error">
                  <sup>*</sup>Please provide contact number
                </p>
                <p *ngIf="mobileNumber?.errors?.['pattern']" class="error">
                  <sup>*</sup>Mobile Number is invalid
                </p>
              </div>
              <div class="col-md-12 mb-3">
                <label>District</label>
                <select name="district" [ngModelOptions]="{standalone: true}" [(ngModel)]="donor.district" #district="ngModel" class="form-control" id="district">
                  <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                  <option value="Kollam">Kollam</option>
                  <option value="Pathanamthitta">Pathanamthitta</option>
                  <option value="Alappuzha">Alappuzha</option>
                  <option value="Kottayam">Kottayam</option>
                  <option value="Idukki">Idukki</option>
                  <option value="Ernakulam">Ernakulam</option>
                  <option value="Thrissur">Thrissur</option>
                  <option value="Palakkad">Palakkad</option>
                  <option value="Malappuram">Malappuram</option>
                  <option value="Kozhikode">Kozhikode</option>
                  <option value="Wayanad">Wayanad</option>
                  <option value="Kannur">Kannur</option>
                  <option value="Kasaragod">Kasaragod</option>
                </select>

                <p *ngIf="district?.touched && district?.invalid" class="error">
                  <sup>*</sup>Please provide district
                </p>
              </div>
            </div>
            <div class="form-group text-right" *ngIf="id">
              <button type="submit" class="btn btn-success btn-block" [disabled]="!editForm?.valid">
                Update Donor
              </button>
            </div>
            <div class="form-group text-right" *ngIf="!id">
              <button type="button" class="btn btn-secondary gap-right" (click)="resetForm(editForm)">
                Reset
              </button>
              <button type="submit" class="btn btn-success" [disabled]="!editForm.valid">
                Add Donor
              </button>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>