<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <input type="text" class="search" [(ngModel)]="searchText" placeholder="Search">
</div>

<div class="pricing-header mx-auto">
  <div class="no-data text-center" *ngIf="preLoader">
  </div>

  <div class="no-data text-center" *ngIf="noData">
    <p class="nodata-msg">No donor added yet!</p>
    <a routerLink="/home/{{currentUser?.uid}}/add" class="btn btn-success"> Add Donor </a>
  </div>

  <div class="table-custom" *ngIf="hideWhenNoDonor">
      <div class="table-row" *ngFor="
            let donor of donors
              | filter: searchText
              | paginate: { itemsPerPage: 6, currentPage: p };
            let i = index
          ">
        <div class="p-0 position-relative">
          <div class="color-bar" [class]="donor.availableStatus">
            <span class="color-text font-sm">{{donor.availableStatus}}</span>
          </div>
          <div class="p-2 ps-0 d-flex justify-content-between align-items-center"
            style="cursor: pointer;margin-left:20px" (click)="donor.opened = !donor.opened ">
            <div class="row align-items-end flex-grow-1 mx-0">
              <span class="col-md-6 px-0">
                <i class="fas fa-caret-right m-0" *ngIf="!donor.opened"></i>
                <i class="fas fa-caret-down m-0" *ngIf="donor.opened"></i>
                {{ donor.name }}
              </span>
              <span class="col-md-6 font-sm">{{donor.district}} {{donor.location}}</span>
              <span *ngIf="donor.lastDonated" class="col-md-6 font-sm">last donated
                {{donor.lastDonated | timeAgo}} ({{donor.lastDonated| date}})</span>
              <span *ngIf="!donor.lastDonated" class="col-md-6 font-sm">last donated
                info not available
              </span>
            </div>
            <span class="border-1 border px-2 rounded border-info">{{ donor.group }}</span>
          </div>
          <div *ngIf="donor.opened" class="bg-info-subtle">
            <div *ngIf="isAdmin || donor.isSameCreator" class="action-block d-flex justify-content-evenly py-2">
              <span class=" me-2 btn btn-outline-success btn-sm" title="Call">
                <a href="tel:{{donor.mobileNumber}}"><em class="fas fa-phone fa-rotate-90"></em></a>
              </span>
              <span class=" me-2 btn btn-outline-primary btn-sm" (click)="copyContact(donor)" title="Copy Contact">
                <em class="far fa-copy"></em>
              </span>
              <span class="me-2 btn btn-outline-primary btn-sm" title="Edit"
                routerLink="/home/{{currentUser?.uid}}/list/{{ donor.id }}"><em class="fas fa-pencil-alt"></em></span>
              <span class="me-2 btn btn-outline-danger btn-sm" title="Delete" (click)="deleteDonor(donor)"><em
                  class="fas fa-trash-alt"></em></span>
            </div>
            <div *ngIf="!isAdmin && !donor.isSameCreator"
              class="text-center action-block d-flex justify-content-evenly py-2">
              <span *ngIf="donor.status === 'approved'" class=" me-2 btn btn-outline-success btn-sm" title="Call">
                <a href="tel:{{donor.mobileNumber}}"><em class="fas fa-phone fa-rotate-90"></em></a>
              </span>
              <a *ngIf="!donor.status || donor.status === 'pending'" href="#"
                (click)="requestContact($event,donor)">Request for contact</a>
              <span *ngIf="donor.status === 'on-hold'" (click)="requestContact($event,donor)">Request put on
                hold
                <div class="font-sm">{{donor.remarks}}</div>
              </span>
              <span *ngIf="donor.status === 'rejected'" (click)="requestContact($event,donor)">Request
                rejected
                <div class="font-sm">{{donor.remarks}}</div>
              </span>
            </div>
          </div>
        </div>
      </div>
  </div>

  <pagination-controls (pageChange)="p = $any($event)"></pagination-controls>
</div>