<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
  <input type="text" class="search" [(ngModel)]="searchText" placeholder="Search">
</div>

<div class="pricing-header mx-auto">
  <div class="table-custom">
    <div class="table-row" *ngFor="
            let user of users
              | filter: searchText
              | paginate: { itemsPerPage: 10, currentPage: p };
            let i = index
          ">
      <div class="p-0">
        <div class=" p-2 d-flex justify-content-between align-items-center">
          <div class="row align-items-end flex-grow-1 text-break">
            <span class="col-md-6">
              {{ user.displayName ?? 'No Name Provided' }}
            </span>
            <span class="col-md-6" style="font-size: .7rem;">{{user.email}}</span>
          </div>
          <span class="border-1 border px-2 rounded border-info">{{ user.role }}</span>
          <span class="ms-2 btn btn-outline-primary btn-sm" title="Edit"
            routerLink="/home/{{currentUser?.uid}}/users/{{ user.id }}">
            <em class="fas fa-pencil-alt"></em>
          </span>
        </div>
      </div>
    </div>
  </div>

  <pagination-controls (pageChange)="p = $any($event)"></pagination-controls>
</div>